<div class="container-fluid navbar navbar-expand-lg headband shadow bg-white">
    <a class="navbar-brand" routerLink="../acceuil"><img src="assets/Images/logo.png"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" ariaZlabel="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
      <div class="collapse navbar-collapse justify-content-end p-0 mr-3" id="navbarText">
          <ul class="nav">
              <li class="nav-item"><a class="nav-link" routerLink="../nous_contacter">Nous contacter</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="#">Aide</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="../a_propos">A propos</a></li>
          </ul>
      </div>
  </div>
  <br>
