<app-headersoumenu></app-headersoumenu>

    <!-- About Section -->
    <div class="row offset-1">
      <div class="">
       <img src="assets/Images/dc4.jpg" width="500"  height="500">
      </div>
  
      <div class="statut">
        <div class="container">
        <h1 style="text-align: center;">Détail sur {{ nom }}</h1><br>
        <h5 >{{ description }} à seulement {{ prix }} € </h5>
        <p >The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
        <p >Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <div class="boutton_connexion">

        <button class="btn success">Ajouter au panier</button>
  
    </div>

      </div>

      
    </div>
    </div>

    <!-- enregistrement des des données dans un backend firebase-->
    <!--button class="btn success" (click)="onSave()">Enregistrer</button -->

     <!-- chargement des données du backend firebase sur la page au dernier état enregistré-->
    <!--button class="btn success" (click)="onFetch()">Charger</button--> 
    <hr>
  
<div style="text-align: center;">
<a routerLink="/pharmacie">Retour à la liste des produits</a>
</div>
<br><br><br>